<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifica tu código</title>
    <link rel="stylesheet" href="{% static 'inicio/css/ingresarCodigoEmail.css' %}">
    <link rel="shortcut icon" href="{% static 'img/IconoDofit.svg' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="page-wrapper">
        <main class="page-content">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Verifica tu código</h1>
                    <p class="card-subtitle">Un código de confirmación de 4 dígitos ha sido enviado a tu correo</p>
                </div>
                <div class="card-body">
                    <div id="contador" class="contador"></div>
                    <div id="segundos" class="contador-segundos">segundos</div>
                    <div class="alert" id="alert-message" style="display:none;"></div>
                    <form class="sign-up-form form" action="{% url 'email_enviado'%}" method="POST">
                        {%csrf_token%}  
                        <div class="code-container">
                            <input type="text" class="code-input" maxlength="1" name="primerNumero">
                            <input type="text" class="code-input" maxlength="1" name="segundoNumero">
                            <input type="text" class="code-input" maxlength="1" name="tercerNumero">
                            <input type="text" class="code-input" maxlength="1" name="cuartoNumero">
                        </div>
                        <button class="primary-default-btn" type="submit">Confirmar</button>
                    </form>
                    <div class="links-container">
                        <p class="sign-up__subtitle">
                            ¿No recibiste el correo?
                            <a href="/reenviar_correo">Reenviar correo</a>
                        </p>
                        <p class="sign-up__subtitle">
                            ¿Te equivocaste de correo?
                            <a href="/recuperar_contraseña">Cambiar correo electrónico</a>
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script src="{% static 'inicio/js/ingresarCodigoEMail.js'%}"></script>
</body>
</html>