/* Table Styles */

.users-table table,
.users-table-info {
  line-height: 1.4;
  letter-spacing: -0.3px;
  color: #767676;
}

.users-table table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.users-table-info {
  height: 48px;
  border-bottom: 1.2px solid #dadbe4;
  font-size: 14px;
}

.users-table-info th {
  font-weight: 500;
}

.users-table__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer-end li,
.users-table__checkbox input {
  margin-right: 20px;
}

.users-table td {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}

.users-table td:first-child {
  padding-left: 20px;
}

.users-table tbody {
  font-size: 14px;
}

.users-table tbody tr:last-child .users-item-dropdown {
  bottom: 250%;
  top: auto;
}

.users-table tbody tr:last-child .users-item-dropdown::before {
  bottom: -10px;
  top: auto;
  border-width: 15px 15px 0;
  border-color: #fff transparent transparent;
}

.users-table .users-item-dropdown {
  right: -9px;
  top: 150%;
}

.users-table img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}

/* Table Wrapper */
.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.table-wrapper table {
  min-width: 850px;
}

.table-wrapper table.posts-table {
  min-width: 944px;
}

.table-wrapper table.library-table {
  min-width: 483px;
}

/* Categories Table */
.categories-table-img {
  margin-right: 26px;
}

.categories-table-img img {
  width: 71px;
  height: 47px;
  border-radius: 6px;
}
