{%load static%}
<!-- filepath: c:\Users\sergi\DOFIT\elegant\myproject\main\templates\signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo enviado</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/svg/gym2' %}" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
    <div class="layer"></div>
    <main class="page-center">
        <a href="{% url 'signin' %}" style="display: flex; align-items: center; gap: 8px; text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
            <span>Volver atrás</span>
        </a>
        
        
        <article class="sign-up">
            <br>
            <form class="sign-up-form form" action="{% url 'email_enviado' %}" method="POST">
                {% csrf_token %}
                <label class="form-label-wrapper">
                    <h1 class="sign-up__title">Mensaje enviado</h1>
                    <div class="icon-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                        </svg>
                        <p class="sign-up__subtitle">Te hemos enviado un correo electrónico. Revisa tus mensajes y sigue las instrucciones para reestablecer tu contraseña</p>
                    </div>
                    <p class="sign-up__subtitle">
                        ¿No recibiste el correo?
                        <a style="color: #2575FC;" class="sign-up__subtitle" href="{% url 'reenviar_correo' %}">Reenviar correo</a>
                    </p>
                    <p class="sign-up__subtitle">
                        ¿Te equivocaste de correo?
                        <a style="color: #2575FC;" class="sign-up__subtitle" href="{% url 'recuperar_contraseña' %}">Cambiar correo electrónico</a>
                    </p>
                </label>
                <!--
                <label class="form-label-wrapper">
                    <p class="form-label">Password</p>
                    <input class="form-input" type="password" placeholder="Enter your password" required>
                </label>
            -->
                <button class="form-btn primary-default-btn transparent-btn">Configurar contraseña</button>
            </form>
        </article>
    </main>
    <!-- Chart library -->
    <script src="{% static 'plugins/chart.min.js' %}"></script>
    <!-- Icons library -->
    <script src="{% static 'plugins/feather.min.js' %}"></script>
    <!-- Custom scripts -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>