{%load static%}
<!-- filepath: c:\Users\sergi\DOFIT\elegant\myproject\main\templates\signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/svg/gym2' %}" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
    <div class="layer"></div>
    <main class="page-center">
        <a href="{% url 'signin' %}" style="display: flex; align-items: center; gap: 8px; text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
            <span>Volver atrás</span>
        </a>
        
        
        <article class="sign-up">
            <h1 class="sign-up__title"><br>Cambio de contraseña</h1>
            <p class="sign-up__subtitle">Ingresa tu correo electrónico y te enviaremos un mensaje con instrucciones para cambiar tu contraseña</p>
            <form class="sign-up-form form" action="{% url 'recuperar_contraseña' %}" method="POST">
            {% csrf_token %}
                <label class="form-label-wrapper">
                    <p class="form-label">Correo electrónico</p>
                    <input class="form-input" type="email" placeholder="Enter your email" required name="correo">
                </label>
                <!--
                <label class="form-label-wrapper">
                    <p class="form-label">Password</p>
                    <input class="form-input" type="password" placeholder="Enter your password" required>
                </label>
            -->
                <button class="form-btn primary-default-btn transparent-btn">Enviar</button>
            </form>
        </article>
    </main>
    <!-- Chart library -->
    <script src="{% static 'plugins/chart.min.js' %}"></script>
    <!-- Icons library -->
    <script src="{% static 'plugins/feather.min.js' %}"></script>
    <!-- Custom scripts -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>