<div class="modal fade" id="modalRegistroPagos" tabindex="-1" aria-labelledby="modalRegistroPagosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegistroPagosLabel">Registrar Pago</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="registroPago" action="" method="POST">
          {% csrf_token %}
          <div id="alert-message" style="display: none; color: red; margin-bottom: 10px;"></div>

          <!-- Cliente -->
          <div class="mb-3">
            <label for="cliente" class="form-label">Cliente</label>
            <select class="form-select select2" id="cliente" name="cliente" required>
              {% for cliente in clientes %}
              <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Fecha del Pago -->
          <div class="mb-3">
            <label for="fecha_pago" class="form-label">Fecha del Pago</label>
            <input type="date" class="form-control" id="fecha_pago" name="fecha_pago" required>
          </div>

          <!-- Contenedor de Productos -->
          <div id="productosContainer">
            <div class="producto-item mb-3">
              <label for="producto1" class="form-label">Producto</label>
              <select class="form-select" name="producto[]" required>
                {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.nombre_producto }} - ${{ producto.precio }}</option>
                {% endfor %}
              </select>
              <label for="cantidad1" class="form-label mt-2">Cantidad</label>
              <input type="number" class="form-control" name="cantidad[]" min="1" placeholder="Ingrese la cantidad" required>
            </div>
          </div>

          <!-- Botón para agregar más productos -->
          <button type="button" id="agregarProducto" class="btn btn-secondary mt-3">Agregar Producto</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" form="registroPago" class="btn btn-primary">Registrar Pago</button>
      </div>
    </div>
  </div>
</div>