<div class="modal fade" id="ModalRegistroProductos" tabindex="-1" aria-labelledby="ModalRegistroProductosLabel" inert>
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title" id="ModalRegistroProductosLabel">Añadir Producto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="registroProductos" action="{% url 'productos' %}" method="POST">
              {% csrf_token %}
              <div id="alert-message-productos" style="display: none; color: red; margin-bottom: 10px;"></div>
    
              <!-- Nombre -->
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre del producto" required>
              </div>
    
              <!-- Precio unitario -->
              <div class="mb-3">
                <label for="precio" class="form-label">Precio unitario</label>
                <input type="text" class="form-control" id="precio" name="precio" placeholder="Ingresa el precio por unidad del producto" required>
              </div>
    
              <!-- Descripción -->
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingresa una breve descripción del producto" required>
              </div>
    
              <!-- Fecha de ingreso -->
              <div class="mb-3">
                <label for="membresia" class="form-label">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="fecha_ingreso" name="fecha_ingreso" required>
              </div>

              <!-- Cantidad existente -->
              <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input type="number" min="0" class="form-control" id="cantidad" name="cantidad" placeholder="Ingresa la cantidad de productos" required>
              </div>

              <!-- Tipo -->
              <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select" id="tipo" name="tipo">
                  {% if tipos %}
                    {% for display in tipos %}
                      <option value="">{{ display }}</option>
                    {% endfor %}
                  {% else %}
                    <option value="">No hay tipos disponibles</option>
                  {% endif %}
                </select>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </form>
          </div>
          
      </div>
  </div>
</div>

<style>

input.form-control {
    border: 2px solid #000; /* Borde negro de 2px */
    border-radius: 5px; /* Bordes redondeados */
  }
  
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    .login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #f5f5f5;
        padding: 1.5rem;
    }
    .login-container {
        display: flex;
        max-width: 1000px;
        width: 95%;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    .card {
        padding: 2.2rem;
        flex: 1;
    }
    .login-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e0e0e0;
    }
    .login-image img {
        width: 100%;
        max-width: 400px;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-form h1 {
        margin-bottom: 1.2rem;
    }
    .login-form p {
        margin-bottom: 1.8rem;
        color: #555;
    }
    .login-form form {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }
    .login-form label {
        margin-bottom: 1.2rem;
        width: 100%;
    }
    .login-form input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    .login-form a {
        text-align: right;
        display: block;
        margin-bottom: 1.2rem;
        color: #2575fc;
        text-decoration: none;
    }
    .login-form button {
        background: #2575fc;
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        transition: background 0.3s;
    }
    .login-form button:hover {
        background: #2575fc;
    }
  </style>