<div class="modal fade" id="modalRegistroClientes" tabindex="-1" aria-labelledby="modalRegistroClientesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegistroClientesLabel">Registrar Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="registroClientes" action="{% url 'clientes' %}" method="POST">
          {% csrf_token %}
          <div id="alert-message" style="display: none; color: red; margin-bottom: 10px;"></div>

          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre del cliente" required>
          </div>

          <!-- Fecha de Nacimiento -->
          <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
          </div>

          <!-- Sexo -->
          <div class="mb-3">
            <label for="sexo" class="form-label">Sexo</label>
            <select class="form-select" id="sexo" name="sexo" required>
              {% for valor, etiqueta in opciones_sexo%}
              <option value="{{ valor }}">{{ etiqueta }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Membresía -->
          <div class="mb-3">
            <label for="membresia" class="form-label">Membresía</label>
            <select class="form-select" id="membresia" name="membresia" required>
              {% for membresia in membresias %}
              <option value="{{ membresia.id }}">{{ membresia.nombre }} - ${{ membresia.precio }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Fecha de Inicio -->
          <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="submitCliente">Registrar Cliente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>